<a href="https://colab.research.google.com/github/abortey1/Andrew-Bortey-repository/blob/main/College_Basketball.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df_college_2012 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb.csv')
df_college_2013 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb13.csv')
df_college_2014 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb14.csv')
df_college_2015 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb15.csv')
df_college_2016 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb16.csv')
df_college_2017 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb17.csv')
df_college_2018 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb18.csv')
df_college_2019 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb19.csv')
df_college_2020 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb20.csv')
df_college_2021 = pd.read_csv('https://github.com/abortey1/college-basketbal/raw/main/cbb21.csv')

I picked this data set because I am interested in college basketball. 
Go ILLINI!!
I am interested in viewing the stats of the 2013 to 2021 season. I want to see what I can learn from it as there are many variables that I never considered thinking about when it came to the basketball season.

More specifically, I want to know which team out of the years had the highest/lowest turnover percentage.
I want to know which team won the most amount of games in 2017 - 2021.
I want to know which team had the best fielg goal percentage from 2019-2021.

In [3]:
df_college_2012

                    TEAM  CONF   G   W  ...   WAB  POSTSEASON  SEED  YEAR
0         North Carolina   ACC  40  33  ...   8.6         2ND   1.0  2016
1              Wisconsin   B10  40  36  ...  11.3         2ND   1.0  2015
2               Michigan   B10  40  33  ...   6.9         2ND   3.0  2018
3             Texas Tech   B12  38  31  ...   7.0         2ND   3.0  2019
4                Gonzaga   WCC  39  37  ...   7.7         2ND   1.0  2017
...                  ...   ...  ..  ..  ...   ...         ...   ...   ...
2450        Michigan St.   B10  35  26  ...   6.7         S16   3.0  2013
2451             Arizona   P12  35  27  ...   4.6         S16   6.0  2013
2452              Oregon   P12  37  28  ...   2.9         S16  12.0  2013
2453            La Salle   A10  34  24  ...   0.3         S16  13.0  2013
2454  Florida Gulf Coast  ASun  35  24  ...  -4.0         S16  15.0  2013

[2455 rows x 24 columns]

In [4]:
df_college_2013

                    TEAM  CONF   G   W  ...  ADJ_T   WAB  POSTSEASON  SEED
0                Indiana   B10  36  29  ...   67.8   7.8         S16   1.0
1                Gonzaga   WCC  34  31  ...   65.1   7.6         R32   1.0
2                 Kansas   B12  37  31  ...   67.7   7.5         S16   1.0
3             Louisville    BE  40  35  ...   67.1   9.0   Champions   1.0
4             Georgetown    BE  32  25  ...   62.5   6.6         R64   2.0
..                   ...   ...  ..  ..  ...    ...   ...         ...   ...
342     Prairie View A&M  SWAC  31  12  ...   67.0 -15.1         NaN   NaN
343              Buffalo   MAC  32  12  ...   65.4 -13.6         NaN   NaN
344  Louisiana Lafayette    SB  32  12  ...   70.2 -13.9         NaN   NaN
345      Bethune Cookman  MEAC  32  12  ...   65.9 -15.0         NaN   NaN
346                 Troy    SB  33  12  ...   61.1 -16.6         NaN   NaN

[347 rows x 23 columns]

In [5]:
df_college_2014

               TEAM  CONF   G   W  ADJOE  ...  3P_D  ADJ_T   WAB  POSTSEASON  SEED
0           Arizona   P12  38  33  116.2  ...  32.0   64.3   9.4          E8   1.0
1           Florida   SEC  39  36  115.9  ...  33.0   63.1  11.7          F4   1.0
2          Virginia   ACC  37  30  114.6  ...  32.3   61.2   8.2         S16   1.0
3       Wichita St.   MVC  35  34  116.4  ...  31.1   65.1   8.1         R32   1.0
4            Kansas   B12  35  25  119.2  ...  35.5   68.2   6.9         R32   2.0
..              ...   ...  ..  ..    ...  ...   ...    ...   ...         ...   ...
346        Winthrop  BSth  30  17  103.2  ...  36.4   66.2  -8.2         NaN   NaN
347      Wright St.  Horz  34  19   99.5  ...  33.0   65.2  -8.1         NaN   NaN
348         Wyoming   MWC  31  16  104.9  ...  31.6   61.1  -5.7         NaN   NaN
349            Yale   Ivy  32  18  101.5  ...  36.3   65.2  -6.0         NaN   NaN
350  Youngstown St.  Horz  29  12  107.0  ...  35.5   68.0 -10.3         NaN   NaN

[351 rows x 23 columns]

In [6]:
df_college_2015

              TEAM CONF   G   W  ADJOE  ...  3P_D  ADJ_T   WAB  POSTSEASON  SEED
0        Wisconsin  B10  40  36  129.1  ...  37.5   59.3  11.3         2ND   1.0
1             Duke  ACC  39  35  125.2  ...  31.4   66.4  10.7   Champions   1.0
2          Arizona  P12  38  34  117.5  ...  33.5   66.7   9.0          E8   2.0
3          Gonzaga  WCC  37  34  120.2  ...  33.0   65.2   7.8          E8   2.0
4       Louisville  ACC  36  27  109.4  ...  30.3   65.6   5.8          E8   4.0
..             ...  ...  ..  ..    ...  ...   ...    ...   ...         ...   ...
346           UCLA  P12  36  22  111.8  ...  35.6   66.8   0.0         S16  11.0
347           Utah  P12  34  25  114.9  ...  31.2   61.4   3.7         S16   5.0
348  West Virginia  B12  35  25  110.3  ...  36.5   68.6   4.1         S16   5.0
349    Wichita St.  MVC  34  29  114.3  ...  35.3   62.6   4.2         S16   7.0
350         Xavier   BE  37  23  115.7  ...  34.6   65.5   1.3         S16   6.0

[351 rows x 23 columns]

In [7]:
df_college_2016

                  TEAM  CONF   G   W  ADJOE  ...  3P_D  ADJ_T   WAB  POSTSEASON  SEED
0    Abilene Christian  Slnd  27   9   96.3  ...  36.9   68.4 -14.4         NaN   NaN
1            Air Force   MWC  30  12   98.1  ...  34.9   67.9 -10.9         NaN   NaN
2                Akron   MAC  34  25  109.0  ...  30.1   68.3  -1.4         NaN   NaN
3              Alabama   SEC  33  18  105.4  ...  32.9   65.7  -0.6         NaN   NaN
4          Alabama A&M  SWAC  28  10   98.3  ...  32.1   66.2 -15.1         NaN   NaN
..                 ...   ...  ..  ..    ...  ...   ...    ...   ...         ...   ...
346         Wright St.  Horz  33  20  100.4  ...  33.0   66.3  -6.1         NaN   NaN
347            Wyoming   MWC  30  12  108.3  ...  35.4   65.6 -10.6         NaN   NaN
348             Xavier    BE  34  28  117.0  ...  31.1   72.4   7.7         R32   2.0
349               Yale   Ivy  29  22  109.1  ...  32.7   66.8  -0.1         R32  12.0
350     Youngstown St.  Horz  30   9  101.6  ...  34.6   73.2 -14.0         NaN   NaN

[351 rows x 23 columns]

In [8]:
df_college_2017

                    TEAM  CONF   G   W  ...  ADJ_T   WAB  POSTSEASON  SEED
0                Gonzaga   WCC  39  37  ...   71.5   7.7         2ND   1.0
1         North Carolina   ACC  39  33  ...   72.8   8.4   Champions   1.0
2              Villanova    BE  36  32  ...   65.6  11.1         R32   1.0
3                 Kansas   B12  36  31  ...   71.4  11.0          E8   1.0
4               Kentucky   SEC  38  32  ...   73.7   9.0          E8   2.0
..                   ...   ...  ..  ..  ...    ...   ...         ...   ...
346             Longwood  BSth  28   6  ...   71.8 -19.5         NaN   NaN
347   North Carolina A&T  MEAC  30   3  ...   64.6 -25.2         NaN   NaN
348  Arkansas Pine Bluff  SWAC  30   6  ...   69.0 -20.2         NaN   NaN
349         Presbyterian  BSth  28   5  ...   65.3 -20.5         NaN   NaN
350          Alabama A&M  SWAC  29   2  ...   65.7 -24.0         NaN   NaN

[351 rows x 23 columns]

In [9]:
df_college_2018

                       TEAM  CONF   G   W  ...  ADJ_T   WAB  POSTSEASON  SEED
0                 Villanova    BE  40  36  ...   69.6  10.6   Champions   1.0
1                  Virginia   ACC  34  31  ...   60.5  11.3         R64   1.0
2                      Duke   ACC  37  29  ...   70.9   6.6          E8   2.0
3                    Purdue   B10  37  30  ...   68.7   7.6         S16   2.0
4                Cincinnati  Amer  36  31  ...   66.2   5.9         R32   2.0
..                      ...   ...  ..  ..  ...    ...   ...         ...   ...
346              Coppin St.  MEAC  32   5  ...   68.7 -20.9         NaN   NaN
347  Mississippi Valley St.  SWAC  32   4  ...   69.9 -22.5         NaN   NaN
348  Maryland Eastern Shore  MEAC  30   7  ...   66.4 -19.3         NaN   NaN
349             Alabama A&M  SWAC  31   3  ...   67.5 -23.0         NaN   NaN
350            Delaware St.  MEAC  30   4  ...   66.2 -24.1         NaN   NaN

[351 rows x 23 columns]

In [10]:
df_college_2019

                       TEAM  CONF   G   W  ...  ADJ_T   WAB  POSTSEASON  SEED
0                   Gonzaga   WCC  37  33  ...   72.0   7.0          E8   1.0
1                  Virginia   ACC  38  35  ...   60.7  11.1   Champions   1.0
2                      Duke   ACC  38  32  ...   73.6  11.2          E8   1.0
3            North Carolina   ACC  36  29  ...   76.0  10.0         S16   1.0
4                  Michigan   B10  37  30  ...   65.9   9.2         S16   2.0
..                      ...   ...  ..  ..  ...    ...   ...         ...   ...
348              Alcorn St.  SWAC  27  10  ...   67.1 -16.7         NaN   NaN
349           New Hampshire    AE  27   5  ...   67.1 -20.2         NaN   NaN
350             Chicago St.   WAC  30   3  ...   71.9 -20.9         NaN   NaN
351            Delaware St.  MEAC  29   6  ...   71.6 -21.7         NaN   NaN
352  Maryland Eastern Shore  MEAC  30   7  ...   64.5 -19.9         NaN   NaN

[353 rows x 23 columns]

In [11]:
df_college_2020

      RK                    TEAM  CONF   G   W  ...  2P_D  3P_O  3P_D  ADJ_T   WAB
0      1                  Kansas   B12  30  28  ...  42.4  34.1  30.5   67.4  10.8
1      2                  Baylor   B12  30  26  ...  44.4  35.1  31.1   66.2   8.5
2      3                 Gonzaga   WCC  33  31  ...  47.4  38.6  32.0   72.0   7.7
3      4                  Dayton   A10  31  29  ...  45.1  37.1  33.0   67.5   6.8
4      5            Michigan St.   B10  31  22  ...  43.4  34.8  28.7   69.3   5.2
..   ...                     ...   ...  ..  ..  ...   ...   ...   ...    ...   ...
348  349     Arkansas Pine Bluff  SWAC  29   4  ...  50.2  26.3  31.1   66.1 -20.0
349  350  Maryland Eastern Shore  MEAC  31   5  ...  51.3  25.0  33.7   67.7 -20.8
350  351  Mississippi Valley St.  SWAC  30   4  ...  55.5  29.4  34.1   77.4 -22.2
351  352            Kennesaw St.  ASun  29   1  ...  55.0  24.8  37.1   68.2 -21.8
352  353             Chicago St.   WAC  26   4  ...  55.3  30.4  40.6   69.2 -20.0

[353 rows x 22 columns]

In [12]:
df_college_2021

                 TEAM  CONF   G   W  ADJOE  ...  3P_O  3P_D  ADJ_T  WAB  SEED
0            Michigan   B10  24  20  118.1  ...  38.7  33.5   66.9  7.2   1.0
1              Baylor   B12  24  22  123.2  ...  41.8  34.0   68.8  6.6   1.0
2            Illinois   B10  29  23  117.7  ...  37.6  32.7   70.7  8.9   1.0
3             Gonzaga   WCC  26  26  125.4  ...  36.5  32.5   74.6  8.5   1.0
4                Iowa   B10  29  21  123.5  ...  38.6  34.8   70.0  5.6   2.0
..                ...   ...  ..  ..    ...  ...   ...   ...    ...  ...   ...
342    Louisiana Tech  CUSA  27  21  102.7  ...  34.6  29.6   69.6 -1.7   NaN
343            Toledo   MAC  29  21  113.3  ...  37.7  29.5   69.1 -2.1   NaN
344               UAB  CUSA  27  22  102.5  ...  31.1  32.4   67.5 -2.7   NaN
345  Eastern Kentucky   OVC  27  22  101.5  ...  35.8  33.0   75.1 -3.8   NaN
346           Belmont   OVC  29  26  108.5  ...  34.7  34.0   71.1 -1.1   NaN

[347 rows x 22 columns]

In [13]:
df.dropna(['SEED'] == 'NaN')

NameError: ignored

In [ ]:
df.shape[0]

In [ ]:
df.shape[1]

In [ ]:
df_college_2021.info()

In [ ]:
df_college_2021.describe()

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.sample(10)

In [ ]:
df_college_2021.sort_values('TOR', ascending = False)

In [ ]:
df_college_2021.sort_values('TOR', ascending = True)

In [ ]:
df_college_2017.sort_values('W', ascending = False)

In [ ]:
df_college_2018.sort_values('W', ascending = False)

In [ ]:
df_college_2019.sort_values('W', ascending = False)

In [ ]:
df_college_2020.sort_values('W', ascending = False)

In [ ]:
df_college_2021.sort_values('W', ascending = False)

In [ ]:
df_college_2019.sort_values('EFG_O', ascending = False)

In [ ]:
df_college_2020.sort_values('EFG_O', ascending = False)

In [ ]:
df_college_2021.sort_values('EFG_O', ascending = False)

In [ ]:
df_college_2018.sort_values('3P_O', ascending = False)

In [ ]:
df_college_2019.sort_values('3P_O', ascending = False)

In [ ]:
df_college_2020.sort_values('3P_O', ascending = False)

In [ ]:
df_college_2021.sort_values('3P_O', ascending = False)

We were able to see that a great shooting percentage could attribute to the amount of games won. But when 3 point percentage is considered, that is not the case. Take Gonzaga, for example, they excelled in the field goal percentage range and that behavior transpired to their games won. But they were not so hot in the 3 point.

In [ ]:
df_college_2013.groupby('TEAM').agg({'W': 'max'})

In [ ]:
df_college_2014.groupby('TEAM').agg({'W': 'max'})

In [ ]:
df_college_2015.groupby('TEAM').agg({'W': 'max'})

In [ ]:
conference_wins = df_college_2021.groupby('CONF', as_index=False).agg({'W': ['count', 'sum', 'mean', 'max']})
conference_wins

In [ ]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
fig = px.box(df_college_2021[df_college_2021['W'] < 30],
             x='W',
             orientation='h',
             title='Amount of Wins less than 30 by Division 1 Team 2021')
fig.show()

In [ ]:
fig = px.histogram(df_college_2020, x='W', title='Amount of Wins 2020', nbins=36)
fig.show()

In [ ]:
fig = px.scatter(df_college_2021, x='W', y='G', title= 'Number of Wins to Number of Games')
fig.show()

In [ ]:
fig = px.bar(df_college_2021, x='W', y='G', title='Number of Wins to Number of Games')
fig.show()

In [ ]:
fig = px.scatter(
    df_college_2021,
    title='Number of Wins to Games Plot',
    x="W",
    y="3P_O",
    size="G",
    color="CONF",
    template='plotly_dark',
    width=800,
    height=400
)
fig.show()

In [ ]:
fig = px.density_heatmap(
    df_college_2021,
    x='CONF',
    y='W',
    title='Conference vs Wins',
    height=600
)
fig.show()
# YOUR CODE ENDS

In [ ]:
fig = px.pie(
    df_college_2021,
    names='CONF',
    title='Conference breakdown',
    width=800,
    height=700)
fig.show()

In [ ]:
fig = px.bar(
   df_college_2021,
    x='W',
    y='G',
    color='CONF',
    template='plotly_dark',
    title='Wins Breakdown by Games and Conference',
    height=600
)

fig.update_yaxes(categoryorder='total ascending')

fig.show()

Gonzaga has made face already in most games won. We see that there is an association with the highest fielg goa percentage and games won as Gonzaga has been top of the list twice out of the most recent past three years adressed. We can conclude that there is a correlation between a high field goal percentage and a high winning of games. From the codes above, I was able to make a code that answered my question of which team had the highest/lowest turnover rate. Iowa had the lowest turnover rate whereas Maine had te highest. As we can see from the codes above, Gonzaga has been consistent in being the within the top three when 'most games won' are in discussion. Giving Loyola Chicago the second award for maintaining a top 5 spot for the most recent two years out of the five years adressed.
I was able to make an aggregations which allowed me to view the count, sum, mean, and max of wins by conference. I was also able to aggregate data from 2013 - 2015 to get the highest number of wins by team. 
From th many visualizations offered, I was able to visualize the relationships between wins and games. Some plots, like the pie chart, I was able to visualize a conference breakdown by its size. Most of my data refers to the 2021 season as it was the most exciting and unpredictable season of all amidst a pandemic.